<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head.ejs') %>

    <body>

        <%- include('../../layout/header.ejs') %>

            <main>

                <h1>Result</h1>
                <section class='details'id='bookcard'>
                    <div class="bookDiv">
                        <img class="bookImg" src="<%= book.img%>" alt="">
                        <h2 class="Tilte">
                            <%= book.title%>
                        </h2>
                        <p class="Author">
                            <%= book.author%>
                        </p>
                        <p class="description">
                            <%= book.description%>
                        </p>
                        <p>
                            ISBN: <%= book.isbn %>
                        </p>
                    </div>
                    <%- include('edit') %>
                </section>
                
            </main>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="/app.js"></script>
            
    </body>
    </html>
    