<!DOCTYPE html>
<html lang="en">

    <%- include('../../layout/head.ejs') %>

<body>

    <%- include('../../layout/header.ejs') %>
  

    <main>
    <h1 class="Ftitle">Search Results</h1>

    <section id='books'>
    <% booksData.forEach(element=>{%>
        <div class="bookDiv">
        <img src="<%= element.img%>" alt="">

        <h1 class="tit">
            <%= element.title%>
        </h1>

        <h3 class="Author">
            <%= element.author%>
        </h3>

        <p>
            <%= element.description%>
        </p>
     
     </div>
    <%});%>
</section>
</main>
    
</body>
</html>