<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head.ejs') %>
<body>

    <%- include('../layout/header.ejs') %>


    <main>
    <h1>
        <%= bkList.length%> Saved Books
    </h1>

    <section id='book'>

    <% bkList.forEach(element=> { %>
        <div class="bookDiv">

            <img src='<%= element.img %>' alt="">
            <h2>
                <%= element.title %>
            </h2>
            <p>
                <%= element.author %>
            </p>
            <button class="details-button" type="submit"><a href="/books/<%= element.id %>">View Details</a></button>
        </div>
        <% }) %>

        </section>
    </main>


</body>
</html>
